<nav class="cyan">
    <div class="nav-wrapper">
        <a href="/" class="left brand-logo" style="padding-left: 10px"><i class="material-icons">cloud</i>TDjango</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Product</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/products">Product</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>